body
	margin 0
	*
		box-sizing border-box

	.main-wrap
		padding 20px

		.img-wrap
			margin 0 auto

			.image
				width 800px
				height 600px
				background-color #BCDAEB
				margin 0 auto
				background-image url("../img/show_test.jpg")
				background-size cover

		.control-wrap
			display flex
			justify-content space-between
			align-items center
			width 100%
			max-width 900px
			margin 0 auto
			padding 40px 0

			.move-wrap
				.top-wrap
					display flex
					justify-content center

				.bottom-wrap
					display flex

				.button-wrap
					padding 10px
					button
						font-size 30px
						width 80px
						height 50px
						border-radius 10px
						background-color rgba(255, 163, 163, 0.4)
						color #FFFFFF
						// cursor pointer
						outline none 
						box-shadow 2px 2px 2px #888888
						
						&:hover
							background-color rgba(255, 163, 163, 1)

						&.active
							background-color rgba(255, 163, 163, 1)
			.webcam-wrap
				display flex

				.button-wrap
					padding 010px

					button
						font-size 35px
						width 80px
						height 50px
						border-radius 10px
						background-color rgba(255, 163, 163, 0.4)
						color #ffffff
						outline none 
						box-shadow 2px 2px 2px #888888

						&:hover
							background-color rgba(255, 163, 163, 1)

						&.active
							background-color rgba(255, 163, 163, 1)

			.catch-wrap
				.button-wrap
					button
						font-size 40px
						border-radius 50%
						background-color rgba(255, 163, 163, 0.4)
						color #ffffff
						width 120px
						height 120px
						outline none 
						cursor pointer
						box-shadow 2px 2px 2px #888888

						&:hover
							background-color rgba(255, 163, 163, 1)

						&.active
							background-color rgba(255, 163, 163, 1)

		.text-board-wrap
			width 100%
			max-width 900px
			margin 0 auto

			.text-board
				resize none 
				width 100%
				min-height 100px
				border-radius 10px
				box-shadow 4px 4px 4px #888888
				font-size 24px
				padding 10px

			.button-wrap
				display flex
				width 100%
				justify-content flex-end
				padding 20px 0

				input 
					width 120px
					font-size 24px
					border-radius 10px
					border 2px solid #000000
					background-color rgba(255, 163, 163, 0.4)
					color #FFFFFF
					padding 5px 0
					cursor pointer
					box-shadow 2px 2px 2px #888888

					&:hover
						background-color rgba(255, 163, 163, 1)

			.board-show-wrap
				display block
				padding 30px
				display flex
				flex-direction column-reverse
				align-items flex-start
				justify-content flex-start

				.show-item-wrap
					padding 10px 0

					.show-item
						border 1px solid #333333
						border-radius 4px
						background-color rgba(255, 163, 163, 0.2)
						padding 20px
						min-width 200px
						position relative
						font-size 24px

						.item-user
							position absolute
							top -12px
							left 15px
							font-size 20px
							line-height 1
							background-color #fff



		.command-text
			resize none
			font-size 36px
			width 100%
			max-width 200px
			text-align center
			height 40px
			overflow hidden
			padding 5px 0

		

		#emit
			.command-textarea

				#emit_data
					resize none
					flex-grow 1

				.button-wrap
					padding 0 10px

		#log
			height 100px
			overflow-y auto
			border 1px solid #000000
			-webkit-text-stroke-width 100%
			margin-top 20px



