body {
  margin: 0;
}
body * {
  box-sizing: border-box;
}
body .main-wrap {
  padding: 20px;
}
body .main-wrap .img-wrap {
  margin: 0 auto;
}
body .main-wrap .img-wrap .image {
  width: 800px;
  height: 600px;
  background-color: #bcdaeb;
  margin: 0 auto;
  background-image: url("../img/show_test.jpg");
  background-size: cover;
}
body .main-wrap .control-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
}
body .main-wrap .control-wrap .move-wrap .top-wrap {
  display: flex;
  justify-content: center;
}
body .main-wrap .control-wrap .move-wrap .bottom-wrap {
  display: flex;
}
body .main-wrap .control-wrap .move-wrap .button-wrap {
  padding: 10px;
}
body .main-wrap .control-wrap .move-wrap .button-wrap button {
  font-size: 30px;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255,163,163,0.4);
  color: #fff;
  outline: none;
  box-shadow: 2px 2px 2px #888;
}
body .main-wrap .control-wrap .move-wrap .button-wrap button:hover {
  background-color: #ffa3a3;
}
body .main-wrap .control-wrap .move-wrap .button-wrap button.active {
  background-color: #ffa3a3;
}
body .main-wrap .control-wrap .catch-wrap .button-wrap button {
  font-size: 40px;
  border-radius: 50%;
  background-color: rgba(255,163,163,0.4);
  color: #fff;
  width: 120px;
  height: 120px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888;
}
body .main-wrap .control-wrap .catch-wrap .button-wrap button:hover {
  background-color: #ffa3a3;
}
body .main-wrap .control-wrap .catch-wrap .button-wrap button.active {
  background-color: #ffa3a3;
}
body .main-wrap .text-board-wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
body .main-wrap .text-board-wrap .text-board {
  resize: none;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #888;
  font-size: 24px;
  padding: 10px;
}
body .main-wrap .text-board-wrap .button-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 0;
}
body .main-wrap .text-board-wrap .button-wrap input {
  width: 120px;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: rgba(255,163,163,0.4);
  color: #fff;
  padding: 5px 0;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888;
}
body .main-wrap .text-board-wrap .button-wrap input:hover {
  background-color: #ffa3a3;
}
body .main-wrap .text-board-wrap .board-show-wrap {
  display: block;
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}
body .main-wrap .text-board-wrap .board-show-wrap .show-item-wrap {
  padding: 10px 0;
}
body .main-wrap .text-board-wrap .board-show-wrap .show-item-wrap .show-item {
  border: 1px solid #333;
  border-radius: 4px;
  background-color: rgba(255,163,163,0.2);
  padding: 20px;
  min-width: 200px;
  position: relative;
  font-size: 24px;
}
body .main-wrap .text-board-wrap .board-show-wrap .show-item-wrap .show-item .item-user {
  position: absolute;
  top: -12px;
  left: 15px;
  font-size: 20px;
  line-height: 1;
  background-color: #fff;
}
body .main-wrap .command-text {
  resize: none;
  font-size: 36px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  padding: 5px 0;
}
body .main-wrap #emit .command-textarea #emit_data {
  resize: none;
  flex-grow: 1;
}
body .main-wrap #emit .command-textarea .button-wrap {
  padding: 0 10px;
}
body .main-wrap #log {
  height: 100px;
  overflow-y: auto;
  border: 1px solid #000;
  -webkit-text-stroke-width: 100%;
  margin-top: 20px;
}
